@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* shered styles */

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
    font-weight: 500;
    color: white;
    background-color: #E95A08;
    padding: 19px 80px;
   
}
/* color  */
.light-yellow{
    color: #E95A08;
}
.black{
    color: #000000;
}
/* header styles */
.navber{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
   
}
.navber-container{
    align-items: center;
}
.bg-color{
    color: rgb(245, 248, 255);
}
.link-item{
    color: rgb(137, 135, 161);
}
.link-item-home{
    color: rgb(37, 36, 50);
    font-weight: 700;
}
.banner{
    margin-top: 120px;
}
.banner-title{
    font-size: 4.1rem;
    font-weight: 700;
}

.banner-description{
    color: rgba(0, 0, 0, 0.50);
}
.plants-section{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;


}
.plants-descripton{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.50);

}
/* card-design */

.card-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}
.flower-name{
color: #111111;
}
.flower-price{
    color: #111111;
    font-weight: 700;
}
/* badge-section */
.badge-section{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 212px;
    gap: 60px;
    align-items: center;
}
.badge-content{
 
}
.badge-title{
    font-size: 4.1rem ;
    line-height: normal;
}
.badge-description{
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   gap: 20px;
}
.list-item{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.50);
    list-style: disc;
    
}
.badge-image{
    position:absolute;
    width: 286px;
    height: 286px;
    left: 218px;
    top: 1771px;
    
}
.latest-section{
    text-align: center;
}
.latest-description{
    color: rgba(0, 0, 0, 0.50);
}
.latest-title{
    color: rgba(0, 0, 0, 1.00);
    font-size: 4.1rem;
    font-weight: bold;
}
/* .challange-container{
      display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.left-top{
    background-image: url("assets/deal-bloom.png");
    background-repeat: no-repeat;
}
.left-bottom{
    background-image: url("assets/deal-ana.png");
    background-repeat: no-repeat;
}
.right{
    background-image: url("assets/deal-zabo.png");
    background-repeat: no-repeat;
    grid-row: span 2;
} */



.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.grid-item {
  /* position: relative; */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-top {
  background-image: url('assets/deal-bloom.png'); /* Bloom */
}

.left-bottom {
  background-image: url('assets/deal-ana.png'); /* Ana */
  
}

.right {
  background-image: url('assets/deal-zabo.png'); /* Zabo */
}

.content {
 
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
}

.content h3,
.content h2 {
  margin: 0;
  font-weight: bold;
}

.content a {
  display: inline-block;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px 10px;
  
}



 /* join section */
.btn-secondery{
    background-color: #E95A08;
    color: white;
    padding: 20px 54px;
}
.join-section{
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    height: 533px;
    align-items: center;
    margin-top: 120px;
    padding-top: 190px;
}
.join-section-title{
   display: flex;
   justify-content: center;
   margin-bottom: 10px;
   font-weight: bold;
   font-size: 3rem;
   color: white;
   
 
}
.join-section-email{
    display: flex;
    justify-content: center;
    
    /* padding-top: 290px; */

}
.inp-primary{
    background-color: white;
    color: rgba(0, 0, 0, 0.50);
    width: 650px;
    
}
/* footer-content */
.footer-content{
    display: flex;
    gap: 110px;
    max-width: 1120px;
    margin: 0 auto;
    margin: 50px;
}
.li{
    
}
.footer-icon{
    display: flex;
    width: 200px;
}
